@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
body{
     font-family: "Inter", sans-serif;
}

:root{
    --bg-color:#1A0B2E;
    --primary-color:#FFFFFF;
    --secondary-color:#00FF88;

}
.display-flex{
    display: flex;
}
.btn-primary{
    background: linear-gradient(
        25deg, #F7E93F, #FB09B4, #9100F8
    );
    padding: 12px 16px;
    border: none;
    border-radius:20px; ;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
}
.subscribe{
    background: transparent;
    color: #00FF88;
    border:1px solid #00FF88 ;
    margin-left: 8px;
    cursor: pointer;
}

nav{
    background: var(--bg-color);
    padding-top: 36px;
    padding-bottom: 36px;
}
.navbar-wreapper{
    justify-content: space-between;
    align-items: center;
}
.navbar-wreapper .item{
    gap: 32px;
    list-style: none;
      font-size: 1rem;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 120%;
   }

#banner{
    background-image: url(./images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 101px;
}
.banner-wrapper{
   text-align: center;
   margin: 0 auto;
}
.banner-wrapper .images{
    position: relative;
}
.new{
    position:absolute;
    top: 35%;
    right:35%;
    transform: translate(-35%, -35%);
}
.new p{
    color: #1A0B2E;
    font-weight: 600;
    font-style: 1.25rem;
    background: #00FF88;
    padding: 8px 16px;
    border-radius: 16px;
}
.banner-wrapper .img{
    margin-top: 125px;
    margin-left: 25px;
} 
.banner-wrapper .img2{
    position:absolute;
    top: 60%;
    right:38%;
    transform: translate(-60%, -38%);
}
.banner-wrapper h2{
    font-size: 3.75rem;
    font-weight: 800;
    color: var(--primary-color);
    margin-top: 40px;
}
.banner-wrapper p{
    font-size: 1rem;
    font-weight: 400;
    color:var(--primary-color);
    margin-top: 8px;
    margin-bottom: 44px;
}
#About{
    background: var(--bg-color);
}
.About-wrapper{
    text-align: center;
    }
    .About-wrapper h1{
        font-size: 3rem;
        font-weight: 700;
        color: var(--primary-color);
        padding-top: 50px;
         margin-bottom: 16px;
    }
    .About-wrapper p{
        max-width: 790px;
        font-size: 1rem;
        font-weight: 400;
        color: var(--primary-color);
        line-height: 20px;
        margin: 0 auto;
    }
    .About-wrapper .join{
        max-width: 790px;
        font-size: 1rem;
        font-weight: 400;
        color: var(--primary-color);
        line-height: 20px;
       margin-top: 20px;
    }
     .About-wrapper hr{
        color: var(--primary-color);
        margin-top: 50px;
     }
